.iframe-container {
    width: 100%; /* Set the width of the iframe container */
    height:1200px; /* Set the height of the iframe container */
    overflow: hidden; /* Hide the scrollbars */
  }

  .iframe-container #github{
    width: 100% !important;
    height: 100%;
    border: none; /* Remove the iframe border */
  }

  @media (max-width: 800px) {
    .iframe-container {
        height: 10000px;
    }
  }