.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  }

  .iframe-container #github{
    width: 100%;
    min-height: 100%; /* Set a minimum height to prevent the iframe from collapsing when the content is empty */
    border: none; /* Remove border around the iframe, if any */
  }

  /* @media (max-width: 800px) {
    .iframe-container {
        height: 100% !important;
    }
  } */